* {
  box-sizing: border-box;
  list-style: none;
}
.title {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
}
.pagination {
  display: flex;
  gap: 1rem;
}
.pageBtn {
  border: 1px solid lightblue;
  border-radius: 50%;
  width: 2rem;
  aspect-ratio: 1/1;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
}
.pageBtn:hover {
  color: red;
}
